{% extends 'base.html.twig' %}

{% block body %}

<section class="fullscreen fullscreen_form">
 <div class="example-wrapper">
  <h1>Creation d'un...
  </h1>
  <div class="fullscreen__img">
  <img src="{{ baseUri }}/assets/img/BigLogo.png" alt="logo" />
  </div>
 </div>
</section>

{% endblock %}